.text
  position relative
  top -3px


.badge
  // box-sizing border-box
  font-size 16px
  color white
  // padding 0.8rem 0.7rem 0 0.7rem
  padding 0.2rem 1rem
  background-color #607D8B
  line-height 1rem
  // position relative
  // left -1px
  // top -7px
  // height 1.8rem
  // height 100%
  margin-right 0.8rem
  border-radius 4px 0 0 4px
  flex 0 1 100px
  // height 100%


.wrap
  height 100%
  display flex

  > *
    display flex
    flex-direction column
    justify-content center
  