.navbar
  ul
    display flex
    margin 0
    padding 0
    
  li
    list-style-type none
    flex 0 1 20%

  a
    color #ccc
    border-right 1px solid #ddd
    display block
    text-decoration none
    padding 1rem
  
  background-color #222